{% extends 'base.html' %}
{% load static %}
{% block contents%}
	<div class="container col-5">
	{% if signupform.errors %}		
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><u>Error Message</u></strong>
          {% for form in signupform %}
          	{% if form.errors %}
          		{{form.errors}}
          	{% endif%}
          {% endfor%}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
	{% endif%}
	</div>
	<div class="container col-6 p-5 border rounded" style="background: rgba(0, 255, 0, 0.2);">
		<h1>Register New User</h1>
			
			<form method="POST" action="">
				{% csrf_token %}
				{{signupform.as_p}}
				<div class="d-flex justify-content-center py-3">
					<button type="submit" class="btn btn-warning ">Register</button>
				</div>
			</form>
	</div>
{% endblock%}