{% load static%}
{% include 'base.html' %}
{% block contents%}
{% if not user.is_authenticated %}
<div class="container p-5 my-3 col-4 shadow rounded" style="height: 380px;background: rgba(0,255,0,0.5); width:400px">
	
	<h1>Login</h1>
	<form method="POST" action="{% url 'welcome'%}">
		{% csrf_token %}
	  <div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">User Name:</label>
	    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="User Name">
	  </div>
	  <div class="mb-3">
	    <label for="exampleInputPassword1" class="form-label">Password:</label>
	    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-warning">login</button>
	</form>
</div>
{% endif %}
{% endblock%}